services:
  jekyll:
    image: amirpourmand/al-folio:v0.14.6
    build: .
    ports:
      - 8081:8080
      - 35729:35729
    volumes:
      - .:/srv/jekyll
      - bundle_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache: